// FORM

// $primary: #11998e;
// $secondary: #38ef7d;
// $white: #fff;
// $gray: #000000;
// $black: rgb(0, 0, 0);

.new-form {
  display: flex;
  align-items: baseline;
  justify-content: start;
  padding-left: 30px;

  input,
  select,
  textarea {
    color: #fff;
  }
}

input:focus {
  color: #fff !important;
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;

  input:focus i {
    color: #fff !important;
  }
}

label.active {
  color: #fff !important;
}
